In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): still running...
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805913 sha256=3366e5711d0c155fc7a92323d9490ae42bcfed36304196e790f2c30ff599d72b
  Stored in directory: c:\users\calanche\appdata\local\pip\cache\wheels\2f\f8\95\2ad14a4614b4a9f645ee928fbbd057b1b254c67adb494c9a58
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [2]:
import pyspark

In [15]:
import pandas as pd

type(pd.read_csv("test_1.csv"))

pandas.core.frame.DataFrame

In [2]:
# Creating a Spark session

from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [5]:
spark

In [6]:
df_pyspark = spark.read.csv('test_1.csv')

In [7]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [8]:
df_pyspark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| Name|Age|
| joel| 25|
|pedro| 23|
|Sunny| 29|
+-----+---+

In [9]:
df_pyspark_2 = spark.read.option('header','true').csv("test_1.csv")

In [10]:
df_pyspark_2.show()

+-----+---+
| Name|Age|
+-----+---+
| joel| 25|
|pedro| 23|
|Sunny| 29|
+-----+---+

In [11]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [12]:
df_pyspark_2.head()

Row(Name='joel', Age='25')

In [13]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)

In this Video We wil Cover

* PySpark DataFrame

* Reading the DataSet

* Checking the Datatypes of the column(Schema)

* Selecting Columns And indexing

* Adding Columns

* Dropping columns

* Renaming Columns

In [14]:
spark

In [15]:
## read the dataset
df_pyspark_3 = spark.read.option('header','true').csv("test_2.csv", inferSchema=True)

df_pyspark_3.show()

+-----+---+----------+
| Name|age|experience|
+-----+---+----------+
|krish| 31|        10|
| hola| 30|         8|
|Sunny| 29|         4|
+-----+---+----------+

In [16]:
### Check the schema

df_pyspark_3.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [17]:
df_pyspark=spark.read.csv('test_2.csv', header=True, inferSchema=True)

df_pyspark.show()

+-----+---+----------+
| Name|age|experience|
+-----+---+----------+
|krish| 31|        10|
| hola| 30|         8|
|Sunny| 29|         4|
+-----+---+----------+

In [18]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [19]:
df_pyspark.columns

['Name', 'age', 'experience']

In [20]:
df_pyspark.head(3)

[Row(Name='krish', age=31, experience=10),
 Row(Name='hola', age=30, experience=8),
 Row(Name='Sunny', age=29, experience=4)]

In [21]:
df_pyspark.show()

+-----+---+----------+
| Name|age|experience|
+-----+---+----------+
|krish| 31|        10|
| hola| 30|         8|
|Sunny| 29|         4|
+-----+---+----------+

In [22]:
df_pyspark.select('Name').show()

+-----+
| Name|
+-----+
|krish|
| hola|
|Sunny|
+-----+

In [23]:
type(df_pyspark.select("Name"))

pyspark.sql.dataframe.DataFrame

In [24]:
df_pyspark.select(['Name', 'Experience']).show()

+-----+----------+
| Name|Experience|
+-----+----------+
|krish|        10|
| hola|         8|
|Sunny|         4|
+-----+----------+

In [25]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('experience', 'int')]

In [26]:
df_pyspark.describe().show()

+-------+-----+----+-----------------+
|summary| Name| age|       experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| null|30.0|7.333333333333333|
| stddev| null| 1.0|3.055050463303893|
|    min|Sunny|  29|                4|
|    max|krish|  31|               10|
+-------+-----+----+-----------------+

In [27]:
### Adding Columns in data frame

df_pyspark=df_pyspark.withColumn('Experience After 2 year', df_pyspark['Experience']+2)

In [28]:
df_pyspark.head(3)

[Row(Name='krish', age=31, experience=10, Experience After 2 year=12),
 Row(Name='hola', age=30, experience=8, Experience After 2 year=10),
 Row(Name='Sunny', age=29, experience=4, Experience After 2 year=6)]

In [29]:
df_pyspark.show()

+-----+---+----------+-----------------------+
| Name|age|experience|Experience After 2 year|
+-----+---+----------+-----------------------+
|krish| 31|        10|                     12|
| hola| 30|         8|                     10|
|Sunny| 29|         4|                      6|
+-----+---+----------+-----------------------+

In [30]:
### Drop the columns

df_pyspark = df_pyspark.drop('Experience after 2 year')


df_pyspark.show()

+-----+---+----------+
| Name|age|experience|
+-----+---+----------+
|krish| 31|        10|
| hola| 30|         8|
|Sunny| 29|         4|
+-----+---+----------+

In [31]:
### Rename the columns
df_pyspark.withColumnRenamed('Name', 'New Name').show()

+--------+---+----------+
|New Name|age|experience|
+--------+---+----------+
|   krish| 31|        10|
|    hola| 30|         8|
|   Sunny| 29|         4|
+--------+---+----------+

## Pyspark Handling Missing Values

* Dropping Columns

* Dropping Rows

* Various Parameter in Dropping functionalities

* Handling Missing values by Mean, Median, and Mode

In [32]:
df_spark = spark.read.csv('test_3.csv', header=True, inferSchema=True)

In [33]:
df_spark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  krish|  11|        10| 30000|
| sudhan|  30|         8| 25000|
|  sunny|  29|         4| 20000|
|   Paul|  23|         3| 20000|
| Harsha|  21|         1| 15000|
|Shubham|  23|         2| 18000|
| Mahesh|null|      null| 40000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [34]:
##drop the columns

df_spark.drop('Name')

DataFrame[Age: int, Experience: int, Salary: int]

In [35]:
df_spark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  krish|  11|        10| 30000|
| sudhan|  30|         8| 25000|
|  sunny|  29|         4| 20000|
|   Paul|  23|         3| 20000|
| Harsha|  21|         1| 15000|
|Shubham|  23|         2| 18000|
| Mahesh|null|      null| 40000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [36]:
df_spark.na.drop().show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  krish| 11|        10| 30000|
| sudhan| 30|         8| 25000|
|  sunny| 29|         4| 20000|
|   Paul| 23|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [37]:
### any==how
df_spark.na.drop(how="all").show() # elimina filas

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  krish|  11|        10| 30000|
| sudhan|  30|         8| 25000|
|  sunny|  29|         4| 20000|
|   Paul|  23|         3| 20000|
| Harsha|  21|         1| 15000|
|Shubham|  23|         2| 18000|
| Mahesh|null|      null| 40000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [38]:
## Threshold, cuantos no null considero para eliminar(si tengo menos valores no nulos elimino)
df_spark.na.drop(how="any", subset=["Name"]).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  krish|  11|        10| 30000|
| sudhan|  30|         8| 25000|
|  sunny|  29|         4| 20000|
|   Paul|  23|         3| 20000|
| Harsha|  21|         1| 15000|
|Shubham|  23|         2| 18000|
| Mahesh|null|      null| 40000|
+-------+----+----------+------+

In [39]:
##Subset only specific columms

In [40]:
### filling the Missing value

df_spark.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|         krish|  11|        10| 30000|
|        sudhan|  30|         8| 25000|
|         sunny|  29|         4| 20000|
|          Paul|  23|         3| 20000|
|        Harsha|  21|         1| 15000|
|       Shubham|  23|         2| 18000|
|        Mahesh|null|      null| 40000|
|Missing Values|  34|        10| 38000|
|Missing Values|  36|      null|  null|
+--------------+----+----------+------+

In [41]:
df_spark.na.fill('Missing Values', ' Experience').show()

AnalysisException: Cannot resolve column name " Experience" among (Name, Age, Experience, Salary)

In [42]:
df_spark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  krish|  11|        10| 30000|
| sudhan|  30|         8| 25000|
|  sunny|  29|         4| 20000|
|   Paul|  23|         3| 20000|
| Harsha|  21|         1| 15000|
|Shubham|  23|         2| 18000|
| Mahesh|null|      null| 40000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [43]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=["Age", "Experience", 'Salary'],
    outputCols=["{}_inputed".format(c) for c in ['Age', 'Experience', 'Salary']]
).setStrategy("mean")

In [44]:
# Add imputation cols to df

imputer.fit(df_spark).transform(df_spark).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| Age|Experience|Salary|Age_inputed|Experience_inputed|Salary_inputed|
+-------+----+----------+------+-----------+------------------+--------------+
|  krish|  11|        10| 30000|         11|                10|         30000|
| sudhan|  30|         8| 25000|         30|                 8|         25000|
|  sunny|  29|         4| 20000|         29|                 4|         20000|
|   Paul|  23|         3| 20000|         23|                 3|         20000|
| Harsha|  21|         1| 15000|         21|                 1|         15000|
|Shubham|  23|         2| 18000|         23|                 2|         18000|
| Mahesh|null|      null| 40000|         25|                 5|         40000|
|   null|  34|        10| 38000|         34|                10|         38000|
|   null|  36|      null|  null|         36|                 5|         25750|
+-------+----+----------+------+-----------+------------------+--------------+

## Pyspark Dataframes

* Filter Operation

* & , |,  ==

* ~

In [45]:
df_spark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|  krish|  11|        10| 30000|
| sudhan|  30|         8| 25000|
|  sunny|  29|         4| 20000|
|   Paul|  23|         3| 20000|
| Harsha|  21|         1| 15000|
|Shubham|  23|         2| 18000|
| Mahesh|null|      null| 40000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

### Filter Operations

In [46]:
### Salary of the people less thanor equal to 20000

df_spark.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  sunny| 29|         4| 20000|
|   Paul| 23|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [47]:
df_spark.filter("Salary<=20000").select(["Name", 'age']).show()

+-------+---+
|   Name|age|
+-------+---+
|  sunny| 29|
|   Paul| 23|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [48]:
df_spark.filter(df_spark['Salary']<=20000).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  sunny| 29|         4| 20000|
|   Paul| 23|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [49]:
df_spark.filter((df_spark['Salary']<=20000) & (df_spark['Salary']>=15000) ).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  sunny| 29|         4| 20000|
|   Paul| 23|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [50]:
# ~ significa negacion
df_spark.filter(~(df_spark['Salary']<=20000)).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| krish|  11|        10| 30000|
|sudhan|  30|         8| 25000|
|Mahesh|null|      null| 40000|
|  null|  34|        10| 38000|
+------+----+----------+------+

## Pyspark GroupBy And Aggregate Fuctions

In [51]:
df_spark = spark.read.csv('test_4.csv', header=True, inferSchema=True )

In [52]:
df_spark.show()

+---------+------------+------+
|     Name|  Department|salary|
+---------+------------+------+
|    krish|Data Science| 10000|
|    krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|sudhanshu|Data Science| 20000|
|sudhanshu|         IOT| 10000|
|sudhanshu|    Big Data|  5000|
|sudhanshu|Data Science| 10000|
+---------+------------+------+

In [53]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- salary: integer (nullable = true)

In [54]:
## Groupby
## Grouepd to find the maximun salary
df_spark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|    krish|      19000|
|sudhanshu|      45000|
|   Mahesh|       7000|
+---------+-----------+

In [55]:
### Groupby Deparments which gives maximum salary

df_spark.groupBy('Department').sum().show()

+------------+-----------+
|  Department|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      13000|
|Data Science|      43000|
+------------+-----------+

In [56]:
df_spark.groupBy('Department').mean().show()

+------------+-----------------+
|  Department|      avg(salary)|
+------------+-----------------+
|         IOT|           7500.0|
|    Big Data|4333.333333333333|
|Data Science|          10750.0|
+------------+-----------------+

In [57]:
df_spark.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    3|
|Data Science|    4|
+------------+-----+

In [58]:
df_spark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      71000|
+-----------+

In [59]:
df_spark.groupBy('Name').max().show()

+---------+-----------+
|     Name|max(salary)|
+---------+-----------+
|    krish|      10000|
|sudhanshu|      20000|
|   Mahesh|       4000|
+---------+-----------+

In [60]:
df_spark.groupBy('Name').max().show()

+---------+-----------+
|     Name|max(salary)|
+---------+-----------+
|    krish|      10000|
|sudhanshu|      20000|
|   Mahesh|       4000|
+---------+-----------+

In [61]:
training = spark.read.csv('test_5.csv', header=True, inferSchema=True)

In [62]:
training.show()

+------+---+----------+------+
| Name |age|Experience|Salary|
+------+---+----------+------+
| Krish| 31|        10| 30000|
|Sudhan| 30|         8| 25000|
|Sudhan| 29|         4| 20000|
|  Paul| 24|         3| 20000|
|Harsha| 21|         1| 15000|
|Sudhan| 23|         2| 18000|
+------+---+----------+------+

In [63]:
training.printSchema()

root
 |-- Name : string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [64]:
training.columns

['Name ', 'age', 'Experience', 'Salary']

## Vector assembler make sure that i have all may features together grouped like this 

[Age, Experience] ------> [new feature]----->independent feature

In [65]:
from pyspark.ml.feature import VectorAssembler

featureassembler = VectorAssembler(inputCols=["age",'Experience'], outputCol='Independent features')

In [66]:
output= featureassembler.transform(training)

In [67]:
output.show()

+------+---+----------+------+--------------------+
| Name |age|Experience|Salary|Independent features|
+------+---+----------+------+--------------------+
| Krish| 31|        10| 30000|         [31.0,10.0]|
|Sudhan| 30|         8| 25000|          [30.0,8.0]|
|Sudhan| 29|         4| 20000|          [29.0,4.0]|
|  Paul| 24|         3| 20000|          [24.0,3.0]|
|Harsha| 21|         1| 15000|          [21.0,1.0]|
|Sudhan| 23|         2| 18000|          [23.0,2.0]|
+------+---+----------+------+--------------------+

In [68]:
finalized_data = output.select("Independent Features", "Salary")

In [69]:
finalized_data.show()

+--------------------+------+
|Independent Features|Salary|
+--------------------+------+
|         [31.0,10.0]| 30000|
|          [30.0,8.0]| 25000|
|          [29.0,4.0]| 20000|
|          [24.0,3.0]| 20000|
|          [21.0,1.0]| 15000|
|          [23.0,2.0]| 18000|
+--------------------+------+

In [70]:
from pyspark.ml.regression import LinearRegression

# Train test split
train_data, test_data = finalized_data.randomSplit([0.75, 0.25])

regressor = LinearRegression(featuresCol='Independent Features', labelCol='Salary')

regressor = regressor.fit(train_data)

In [71]:
### Coefficients

regressor.coefficients

DenseVector([0.0, 1589.7436])

In [72]:
## interceptes:
regressor.intercept

13358.974358973992

In [73]:
### Predictions

pred_results= regressor.evaluate(test_data)

pred_results.predictions.show()

In [74]:
pred_results.predictions.show()

C:\Users\calanche\Desktop\sample_project_1\env\lib\site-packages\pyspark\sql\context.py:125: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

+--------------------+------+------------------+
|Independent Features|Salary|        prediction|
+--------------------+------+------------------+
|          [23.0,2.0]| 18000|16538.461538461514|
|          [24.0,3.0]| 20000|18128.205128205107|
+--------------------+------+------------------+

In [75]:
pred_results.meanAbsoluteError, pred_results.meanSquaredError

(1666.6666666666897, 2819855.358316973)